.scenario-buttons button {
    color: Black;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
    border-radius: 12px;
}

.scenario-buttons input {
    color: Black;
    cursor: pointer;
    border-radius: 12px;
    padding-bottom: 15px
}

.top_submit_button {
    cursor: pointer;
    width: 50%;
    padding: 10px 24px;
    border-radius: 12px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}


/* Style the header */
.header {
    color: #13afdf;
    background-color: #F0FBFF;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 3px white;
    border-bottom: solid black 5px
}

/* Create three equal columns that float next to each other */
.column1 {
    float: left;
    width: 20%;
    height: 100%;
    padding: 0px 10px;
    background-color: #13afdf;
}

.column2 {
    float: left;
    width: 80%;
    padding: 0px 0px;
    border: 4px solid black;
}

.graph_area {
    float: left;
    width: 80%;
    padding: 0px 0px;
    border: 4px solid black;
}

.climate_variables {
    background-color: #13afdf;
    padding: 10px 24px;
    display: block;
    float: right;
    width: 80%;
    padding: 0px 15px 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column1 {
        width: 100%;
    }
}

/* styling to hide scenario choice for unselected climate variables in top panel */
.hidden {
    display: none;
}

.climate_variables button.selected {
    background-color: darkgreen;
    color: white;
}