<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Benchly</title>
  <!-- Keep this line in the head-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>






<body>


  # Display climate variables for a given scenario and year
  <div class="row">
    <div class="column1">
      <h3>Climate Scenario</h3>
      <p>Scenario: starting year, final emission</p>

      <div id="scenario-buttons-display" class="scenario-buttons">
        {% if climateinputs %}
        <form action="/benchly/{{name}}" method="GET">
          {% for inp in climateinputs %}
          <button>{{ inp.scenario }}: {{ inp.start_year }},{{ inp.final_emiss }}</button>
          {% endfor %}
          {% else %}
          <p>No scenarios are available.</p>
          {% endif %}
      </div>

      <div id="scenario-buttons-display" class="scenario-buttons">
        {% if climateinputs %}
        <form action="/benchly/{{name}}" method="GET">
          {% for inp in climateinputs %}
          <input type="checkbox" id="scenario{{name}}-{{inp.scenario}}" name="scenario{{inp.scenario}}" value="on">
          <label for="scenario{{name}}-{{inp.scenario}}">Scenario {{inp.scenario}}</label><br>
          {% endfor %}
          <input type="submit" value="Submit">
        </form>
        {% else %}
        <p>No scenarios are available.</p>
        {% endif %}
      </div>

    </div>

    <div id="years" class="climate_variables">
      <h3>Year</h3>
      <input type="text" placeholder="Enter Year" id="inputId">
      <button type="button" onclick="getInputValue();">Submit</button>
      <script>
        function getInputValue() {
          // Selecting the input element and get its value 
          let inputVal = document.getElementById("inputId").value;
          // Displaying the value
          alert(inputVal);
        }
      </script>

    </div>

    <div class="column2" id="climvardisplay">
      <br>
      {% for name, value in disp_outyear.get_fields %}
      {% if name != 'id' %}
      {{ name }}: {{ value }} <br>
      {% endif %}
      {% endfor %}
    </div>

  </div>



  <br> <br> <br> <br> <br>
</body>

</html>