<h1>Choose the climate variable to be displayed</h1>
<h2>Selected scenario: {{ question.scenario }}</h2>

<form action="{% url 'vote' question.scenario %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Select a climate variable</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="radio" name="choice" id="aco2" value="atmos_co2">
        <label for="aco2">atmos co2</label><br>
        <input type="radio" name="choice" id="oco2" value="ocean_co2">
        <label for="oco2">ocean co2</label><br>
    </fieldset>
    <input type="submit" value="Select">
</form>